/* Allgemein */

body {
    background: rgb(20, 20, 20) !important;
    color: white;
}

/* Login */

.login_feld {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 0px solid #00fefb;
    background: rgb(32, 32, 32);
    border-radius: 10px;
    padding-top: 60px;
    padding-bottom: 100px;
    padding-left: 100px;
    padding-right: 100px;
    text-align: center;
  }

  .border-box {
    border-bottom: none;
    border-left: none;
    border-right: none;
    border: 1px solid #00fefb;
    background-color: transparent;
    height: 0px;
    width: 400px;
    position: absolute;
    left: 0%;
    top: 40%;
    display: none;
  }

/* Banned */

.banned_field {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Sign Up */

.sign-up_field {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 0px solid #00fefb;
    background: rgb(32, 32, 32);
    border-radius: 10px;
    padding-top: 60px;
    padding-bottom: 100px;
    padding-left: 100px;
    padding-right: 100px;
    text-align: center;
  }

/* Account Settings */

.acc_set_cont_cont {
    color: white;   
    text-align: center;
    padding-top: 1%; 
}

.logout_but {
    padding-left: 80%;
    padding-top: 10%;
    text-align: right;
    padding-right: 10%;
}

.acc_set_tit {
    text-align: center;
    color: white;
    font-size: 40px;
    padding-top: 2%;
}

.acc_set_cont {
    height: 90%;
    width: 70%;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 0px solid;
    background: rgb(32, 32, 32);
    border-radius: 10px;
    text-align: center;
}

.acc_set_set_tit {
    padding-left: 10%;
    font-size: 17px;
    text-align: left !important;
    padding-top: 5%;
}

/* Sidebar */

#sidebar-container {
    width: 100%; /* Breite anpassen */
    height: 100%; /* Volle Höhe der Seite */
    position: fixed;
    top: 0;
    left: 0;
    background-color: #333; /* Hintergrundfarbe anpassen */
}

iframe {
    width: 100%;
    height: 100%;
    border: none;
}

.top_sidebar {
    color: white;
    opacity: 0.5;
}

.bottom_sidebar_field {
    padding-bottom: 4%;
}

.dropdown-menu-dark {
    --bs-dropdown-link-active-bg: #222529 !important;
}

/* Fast Qty Allgemein */


  .calc_field_fast-qty {
    position: absolute;
    height: 80%;
    width: 65%;
    border-radius: 10px;
    border: 0px solid;
    background: rgb(24, 24, 24);
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  }

  @media (max-width: 720px) {
    .both_fast-qty {
      display: block !important;
    }
    .calc_field_fast-qty {
      min-height: 120% !important;
    }
    .right_fast-qty {
      margin-right: 4% !important;
      margin-left: 6% !important;
      margin-top: 5% !important;
    }
    .result_fast-qty_cont {
      padding: 5% 7%;
    }
    .my-divider {
      display: none;
    }
    .fast-qty_head_tit, .fast-qty_head_text {
      text-align: center !important;
    }
    .fast-qty_head {
      padding-top: 2.5% !important;
      padding-bottom: 2.5% !important;
    }
    /*body {
      height: 143%;
    }*/
    
  }

  @media (max-width: 800px) {
    .calc_field_fast-qty {
      min-width: 97% !important;
    }
  }

  @media (max-width: 1100px) {
    .calc_field_fast-qty {
      min-width: 87%;
    }
  }



  .switch-container-cont {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3%;
    min-width: 60% !important;
    padding: 0 10px;
  }

  .switch-container {
    display: flex;
    background-color: #25282C; /* Dunkelgrauer Hintergrund für den Container */
    min-width: 100% !important;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
}

.switch-option {
    flex: 1;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    color: rgb(255 255 255 / 75%); /* Textfarbe für Optionen */
    min-width: 50% !important;
    max-height: 28px;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
}

#long.active, #long_b.active {
  background-color: #20B26C; /* Hintergrundfarbe für "Long", wenn aktiv */
}

#short.active, #short_b.active {
    background-color: #EF454A; /* Hintergrundfarbe für "Short", wenn aktiv */
}



.input-container {
  width: 100%;
  background: transparent;
  padding: 10px;
  margin: 10px 0;
  color: rgb(255 255 255 / 75%);
}

.input-container label {
  display: block;
  text-align: left;
}

.input-container input {
  width: 100%;
  padding: 10px;
  border: 1px solid transparent;
  background: #25282C;
  color: white;
  border-radius: 4px;
}

.input-container input::placeholder {
  color: white;
}

.currency {
  position: relative;
}

.currency::before {
  content: attr(data-currency);
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.input-container input[type="number"] {
  appearance: textfield;
}

.input-container input[type="number"]::-webkit-inner-spin-button, 
.input-container input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input-container input[type="number"]::-webkit-outer-spin-button,
.input-container input[type="number"]::-webkit-inner-spin-button {
  display: none;
}

.input-container input:focus {
  outline: 1px solid #fff;
}


/* Fast Qty */
#entry-fast-qty-long, #cost-fast-qty-long, #leverage-fast-qty-long {
  color: rgb(255 255 255 / 100%) !important;
}

#entry-fast-qty-long::placeholder, #cost-fast-qty-long::placeholder, #leverage-fast-qty-long::placeholder {
  color: rgb(255 255 255 / 20%) !important;
}

#entry-fast-qty-short, #cost-fast-qty-short, #leverage-fast-qty-short {
  color: rgb(255 255 255 / 100%) !important;
}

#entry-fast-qty-short::placeholder, #cost-fast-qty-short::placeholder, #leverage-fast-qty-short::placeholder {
  color: rgb(255 255 255 / 20%) !important;
}
/**/
/* Fast Leverage */
#entry-fast-lev-long, #sl-fast-lev-long, #tp-fast-lev-long, #risk-fast-lev-long, #cost-fast-lev-long, #mmr-fast-lev-long {
  color: rgb(255 255 255 / 100%) !important;
}

#entry-fast-lev-long::placeholder, #sl-fast-lev-long::placeholder, #tp-fast-lev-long::placeholder, #risk-fast-lev-long::placeholder, #cost-fast-lev-long::placeholder, #mmr-fast-lev-long::placeholder {
  color: rgb(255 255 255 / 20%) !important;
}

#entry-fast-lev-short, #sl-fast-lev-short, #tp-fast-lev-short, #risk-fast-lev-short, #cost-fast-lev-short, #mmr-fast-lev-short {
  color: rgb(255 255 255 / 100%) !important;
}

#entry-fast-lev-short::placeholder, #sl-fast-lev-short::placeholder, #tp-fast-lev-short::placeholder, #risk-fast-lev-short::placeholder, #cost-fast-lev-short::placeholder, #mmr-fast-lev-short::placeholder {
  color: rgb(255 255 255 / 20%) !important;
}
/**/

.right_fast-qty {
  background: #25282C;
  min-height: 300px;
  min-width: 42% !important;
  margin-right: 4%;
  margin-left: 1%;
  margin-top: 1.5%;
}

.result_fast-qty_tit {
  font-size: 16px;
  text-align: left !important;
  color: rgb(255 255 255 / 100%);
}

.both_fast-qty {
  display: flex;
  margin-bottom: 20px;
}

.left_fast-qty {
  margin-left: 4% !important;
  margin-right: 1% !important;
  min-width: 48% !important;
}

.result_fast-qty_cont {
  padding: 3% 5%;
}

.result_fast-qty_results {
  margin-top: 20px;
}

.im-text_left {
  color: rgb(255 255 255 / 75%);
  font-size: 14px;
}

.fast-qty_head_tit, .fast-qty_head_text {
  text-align: left;
}

.fast-qty_head {
  padding-top: 2%;
  padding-left: 4%;
  padding-right: 4%;
  padding-bottom: 1%;
}

.fast-qty_head_tit {
  font-size: 15px;
  margin: 10px;
}

.fast-qty_head_text {
  font-size: 12px;
  margin: 10px;
}

.my-divider {
  width: 91%; /* Ändere die Breite nach Bedarf */
  margin: 5px 4% 15px 5%; /* Ändere den Abstand oben und unten nach Bedarf */
  height: 1px; /* Ändere die Dicke nach Bedarf */
  background-color: rgb(255 255 255 / 20%); /* Ändere die Hintergrundfarbe nach Bedarf */
}

#im_fast-qty {
  color: #F7A600;
}

.calc_field_fast-lev {
  height: 110%;
  width: 65%;
  border-radius: 10px;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-70%, -50%);
  border: 0px solid;
  background: rgb(24, 24, 24);
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}