
body {
    background-color: black;
    color: white; /* Ändert die Textfarbe auf Weiß für bessere Lesbarkeit */
}


.login_feld {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid white;
    border-radius: 10px;
    padding: 40px;
  }